@model List<Vote>

@{
    ViewBag.Title = "Votes for birthday presents";
}

<div class=" card">
    <div class="card-header text-center">
        <h3>Here are all active vote that you are able to vote for birthday gift</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            @if (Model.Count == 0)
            {
                <li class="list-group-item m-1">No active votes</li>
            }
            else
            {
                @foreach (var vote in Model)
                {
                    <li class="list-group-item m-1">
                        <div class="d-inline-block">
                            <h5> Birthday Guy: @vote.ReceiverName </h5>
                            <h6>Started By: @vote.OwnerName</h6>
                        </div>

                        <div class="d-inline-block float-right">
                            <a asp-controller="Votes" asp-action="Voting" asp-route-id="@vote.Id" asp-route-name="@vote.ReceiverName" class="btn btn-primary">Choose a gift</a>
                        </div>

                    </li>
                }
            }

        </ul>
    </div>
</div>


